:root {
    --primary-color: #484848;
    --secondary-color: #8a8a8a;
    --tertiary-color: #000000;
    --quaternary-color: #ffffff;
    --base-font-size: 1rem;
    --secondary-font-size: 2.9rem;
    --tertiary-font-size: 3.5rem;
    --primary-font-family: 'poppins';
    --secondary-font-family: 'Volkhov';
  }
  
.img-section{

    margin: 2rem 4rem;
    
    
}
.images{
    display: flex;
    height: 756px;
    align-items: center;
    justify-content: center;
    
}
.img-text{
    margin: 0rem 2.5rem;
    
}
.h1-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 0rem;
}
.h1-btn h1{
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 91px;
    letter-spacing: -4%;
    line-height: 91px;
    color:var(--primary-color) ;
}
.h1-btn h2{
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 187px;
    line-height: 157px;
    color: var(--quaternary-color);
    -webkit-text-stroke: 2px black;
    
}
.h1-btn p{
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-color);
}
.h1-btn button{
    font-family: var(--primary-font-family);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding:  1rem 2.5rem;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    border: none;
    border-radius: 10px;
}
.cart-scrool-img{
    display: flex;
} 